
  nav li a {
      text-decoration: none;
      position: relative;
    }
    nav li a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background: #000;
      left: 0;
      bottom: -2px;
      transition: 0.3s;
    }
    nav li a:hover::after {
      width: 100%;
    }
  
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }
    .quantity-input {
      width: 60px;
      text-align: center;
    }
   html {
  scroll-behavior: smooth;
}
